{% extends "myapp/base.html" %}
{% block content %}
<div class="content-section">
    <div class="tile">
        <span>
        <strong>Recipes for products:
            {% for product in products %}
            <span>
                {{product.name}},
            </span>
            {% endfor %}
        </strong>
        </span>
    </div>
    <section class="recipes">
        {% for recipe in recipes %}
        <div class="recipe border-bottom p-2 pb-3">
            <div class="d-block">
                <p class="recipe-title">
                    <span>
                        {{recipe.title}}
                    </span>
                </p>
                <img src={{recipe.image}} />
            </div>
            <div>
                <strong>What you need else:</strong><br />
                {% for missed_ingredient in recipe.missed_ingredients %}
                <span>{{missed_ingredient}}<br /></span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </section>

</div>
{% endblock content %}